
/**
* @file
* HTML element styling/
*/

/**
* fonts
*/
body {
	font-size: 100%; /* Fixes exaggerated text resizing in IE6 and IE7 */
	color:#000;
}

#wrapper {
	font-size:11px;
	line-height:15px;
}

/**
* font-family: "Times New Roman", Times, Georgia, "Bitstream Vera Serif", serif;
* font-family: Times, "Times New Roman", Georgia, "Bitstream Vera Serif", serif;
* font-family: Georgia, "Times New Roman", "Bitstream Vera Serif", serif;
*
* font-family: Verdana, Tahoma, Arial, Helvetica, "Bitstream Vera Sans", sans-serif;
* font-family: Tahoma, Verdana, Arial, Helvetica, "Bitstream Vera Sans", sans-serif;
* font-family: Helvetica, Arial, "Bitstream Vera Sans", sans-serif;
* font-family: Arial, Helvetica, "Bitstream Vera Sans", sans-serif;
*
* font-family: "Bitstream Vera Sans Mono", "Courier New", monospace;
*/
body,
caption,
th,
td,
input,
textarea,
select,
option,
legend,
fieldset {
	font-family: Helvetica, Arial, "Bitstream Vera Sans", sans-serif;
}

del {
	color:#666;
	text-decoration:line-through;
}

pre {
	margin:1.5em 0;
	white-space:pre;
}

pre, code, tt {
	font:1em 'andale mono', 'lucida console', monospace;
	line-height:1.5em;
}

/** headings **/
h1, h2, h3, h4, h5, h6	{
	font-weight:normal;
	color:#222;
	line-height:1em;
	margin-bottom:0.5em;
}

h1 {font-size:3em;}

h2 {font-size:2.5em;}

h3 {font-size:2em;}

h4 {font-size:1.5em;}

h5 {
	font-size:1.3em;
	font-weight:bold;
}

h6 {
	font-size:1.3em;
	text-decoration:underline;
}

/** block-level elements **/
p, ul, ol, dl, pre, table, fieldset	{
	margin: 0 0 1em;
}

.floatleft {
	float:left;
	margin:1.5em 1.5em 1.5em 0;
	padding:0;
}

.floatright {
	float:right;
	margin:1.5em 0 1.5em 1.5em;
}

/* Blockquote */
blockquote:before,
blockquote:after,
q:before, q:after {
	content:"";
}

blockquote, q {
	quotes:"" "";
}

blockquote {
	margin:1.5em;
	color:#666;
	font-style:italic;
}

blockquote {
	background: url(../images/lquote.png) no-repeat left top;
	font-size: 1em;
	margin: 0 0 1.5em 0;
	padding: 0 0 0 40px;
}

blockquote p {
  margin: 0;
}

#saving {
  background: url(../images/loading.gif) no-repeat 12px 1px;
  padding-left: 36px;
  font-weight: bold;
  font-size: 1em;
  display: none;
}

#saving p {
  margin: 0;
}

#saving-notice {
  font-size: 0.9em;
  background: #ffc;
  font-style: italic;
}

/** lists **/
/* standardize list item indentation */
ul, ol {
	margin-left: 0;
	padding-left: 2em;
}

.block ul, /* Drupal overrides */
.item-list ul {
	margin: 1em 0;
	padding: 0 0 0 2em;
}

ul ul, ul ol,
ol ol, ol ul,
.block ul ul, .block ul ol,
.block ol ol, .block ol ul,
.item-list ul ul, .item-list ul ol,
.item-list ol ol, .item-list ol ul {
	margin: 0;
}

li {
	margin: 0;
	padding: 0;
}

/* Drupal override */
.item-list ul li {
	margin: 0;
	padding: 0;
	list-style: inherit;
}

/* Drupal override */
ul.menu li, 
li.expanded,
li.collapsed,
li.leaf	{
	margin: 0;
	padding: 0;
}

ul          { list-style-type: disc; }
ul ul       { list-style-type: circle; }
ul ul ul    { list-style-type: square; }
ul ul ul ul { list-style-type: circle; }
ol          { list-style-type: decimal; }
ol ol       { list-style-type: lower-alpha; }
ol ol ol    { list-style-type: decimal; }

html.js fieldset.collapsible legend a {
  background: transparent url(../images/icons/menu-expanded.gif) no-repeat scroll 0% 50%;
  text-decoration: none;
}

html.js fieldset.collapsed legend a {
  background: transparent url(../images/icons/menu-collapsed.gif) no-repeat scroll 0% 50%;
}

ul li, ul.menu li, .item-list ul li, li.leaf {
  list-style-image: url(../images/icons/menu-leaf.gif);
}

ul li.expanded {
  list-style-image: url(../images/icons/menu-expanded.gif);
}

ul li.collapsed {
  list-style-image: url(../images/icons/menu-collapsed.gif);
}

dt {
	margin: 0;
	padding: 0;
}

dd {
	margin: 0 0 0 2em;
	padding: 0;
}

.hide {display:none;}

.quiet {color:#666;}

.loud {color:#000;}

.highlight {background:#ff0;}

.box {
	padding:1.5em;
	margin-bottom:1.5em;
	background:#E5ECF9;
}

hr {
	background:#ddd;
	color:#ddd;
	clear:both;
	float:none;
	width:100%;
	height:.1em;
	margin:0 0 1.45em;
	border:none;
}

hr.space {
	background:#fff;
	color:#fff;
}

.clearfix:after,
.container:after {
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
}

* html .clearfix,
* html .container {
	height:1%;
}
.clearfix {
	display:block;
}

.container {
	width:950px;
	margin:0 auto;
	display:block;
}

.clear {
	clear:both;
}

/** links **/
a:link,
a:visited {
	color: blue;
	text-decoration:none;
}

a:hover {
	color: red;
}

a:active,
a.active {
	color: yellow;
}

/** tables **/
/* Override Drupal default CSS */
table {
	border-collapse:separate;
	border-spacing:0;
	margin-bottom:1.4em;
	width:100%;
}
caption,	th, td {
	text-align:left;
	font-weight:normal;
	padding:4px 10px 4px 5px;
}

caption {background:#eee;}

table, td, th {vertical-align:top;}

thead th, th {
	background: #c3d9ff;
	border-bottom: 1px solid #ccc;
	color: #333;
}

th a img {margin: 0;}

tr.even td {background: #F1F5FA;}

tr.odd td {background: #fff;}

tfoot {font-style:italic;}


/** abbreviations **/
abbr {
	border-bottom: 1px dotted #666;
	cursor: help;
	white-space: nowrap;
}

/* Date-based "abbreviations" show computer-friendly timestamps which are not
human-friendly. */
abbr.created {
	border: none;
	cursor: auto;
	white-space: normal;
}

/** images **/
img	{
	border: 0;
}

/** horizontal rules **/
hr {
	height: 1px;
	border: 1px solid #666;
}

/** forms **/
form {
	margin: 0;
	padding: 0;
}

fieldset {
	margin: 1em 0;
	padding: 0.5em;
}

address {
	margin:0 0 1.5em;
	font-style:italic;
}
