
/**
* @file
* Add icons to links based on protocol.
*/
a[href ^="aim:"] {
	padding: 5px 20px 5px 0;
	background: transparent url(../images/icons/proto_icons/icon_aim.gif) no-repeat center right;
}

a[href ^="msnim:"] {
	padding: 5px 20px 5px 0;
	background: transparent url(../images/icons/proto_icons/icon_msn.gif) no-repeat center right;
}

a[href ^="xmpp:"] {
	padding: 5px 20px 5px 0;
	background: transparent url(../images/icons/proto_icons/icon_jabber.gif) no-repeat center right;
}

a[href *="icq.com"] { 
	padding: 5px 20px 5px 0;
	background: transparent url(../images/icons/proto_icons/icon_icq.gif) no-repeat center right;
}

a[href *="edit.yahoo.com/config/send_webmesg?"] { 
	padding: 5px 20px 5px 0;
	background: transparent url(../images/icons/proto_icons/icon_yim.gif) no-repeat center right;
}

a[href ^="callto:"] {
	padding: 5px 20px 5px 0;
	background: transparent url(../images/icons/proto_icons/icon_call.gif) no-repeat center right;
}

a[href ^="skype:"] {
	padding: 5px 20px 5px 0;
	background: transparent url(../images/icons/proto_icons/icon_skype.gif) no-repeat center right;
}

/* email */
a[href ^="mailto:"] {
	padding: 5px 20px 5px 0;
	background: transparent url(../images/icons/proto_icons/icon_mailto.gif) no-repeat center right;
}