
/**
* @file
* Add icons to the admin area for a better looking admin section.
*/

dl.admin-list dt a {
	display:block;
	padding:11px 0 11px 30px;
}

dl.admin-list dd {
	margin:-5px 0 10px 30px;
}

/**
* Default link padding;
*/
dl.admin-list dt a { 
padding: 4px 0px 4px 24px;   
}

/**
* Admin/Content
*/
dl.admin-list dt a[href $='admin/content/taxonomy'] {background: url(../images/icons/admin_icons/taxonomy.png) no-repeat 0 50%;}
dl.admin-list dt a[href $='admin/content/book'] {background: url(../images/icons/admin_icons/book.png) no-repeat 0 50%;}
dl.admin-list dt a[href $='admin/content/newsletters'] {background: url(../images/icons/admin_icons/newsletters.png) no-repeat 0 50%;}
dl.admin-list dt a[href $='admin/content/node-settings'] {background: url(../images/icons/admin_icons/node-settings.png) no-repeat 0 50%;}
dl.admin-list dt a[href $='admin/content/node'] {background: url(../images/icons/admin_icons/node.png) no-repeat 0 50%;}
dl.admin-list dt a[href $='admin/content/types'] {background: url(../images/icons/admin_icons/types.png) no-repeat 0 50%;}
dl.admin-list dt a[href $='admin/content/rss-publishing'] {background: url(../images/icons/admin_icons/rss-publishing.png) no-repeat 0 50%;}
dl.admin-list dt a[href $='admin/content/search'] {background: url(../images/icons/admin_icons/search-content.png) no-repeat 0 50%;}
dl.admin-list dt a[href $='admin/content/comment'] {background: url(../images/icons/admin_icons/comment.png) no-repeat 0 50%;}
dl.admin-list dt a[href $='admin/content/nodewords'] {background: url(../images/icons/admin_icons/nodewords.png) no-repeat 0 50%;}
dl.admin-list dt a[href $='admin/content/backup_migrate'] {background: url(../images/icons/admin_icons/backup-and-migrate.png) no-repeat 0 50%;}
dl.admin-list dt a[href $='admin/content/webform'],dl.admin-list dt a[href $='admin/settings/webform'] {background: url(../images/icons/admin_icons/webform.png) no-repeat 0 50%;}
dl.admin-list dt a[href $='admin/content/simplenews'], dl.admin-list dt a[href $='admin/settings/simplenews'] {background: url(../images/icons/admin_icons/newsletter.png) no-repeat 0 50%;}
dl.admin-list dt a[href $='admin/content/page_title'] {background: url(../images/icons/admin_icons/page-titles.png) no-repeat 0 50%;}
dl.admin-list dt a[href $='admin/content/filter'] {background: url(../images/icons/admin_icons/cms-filter.png) no-repeat 0 50%;}
dl.admin-list dt a[href $='admin/content/templates'], dl.admin-list dt a[href $='admin/settings/contemplate'] {background: url(../images/icons/admin_icons/content_templates.png) no-repeat 0 50%;}
dl.admin-list dt a[href $='admin/content/import'] {background: url(../images/icons/admin_icons/node-import.png) no-repeat 0 50%;}
dl.admin-list dt a[href $='admin/content/node_import'] {background: url(../images/icons/admin_icons/import_content.png) no-repeat 0 50%;}

/**
* Admin/Build
*/
dl.admin-list dt a[href $='admin/build/block'] {background: url(../images/icons/admin_icons/blocks.png) no-repeat 0 50%;}
dl.admin-list dt a[href $='admin/build/menu'] {background: url(../images/icons/admin_icons/menu.png) no-repeat 0 50%;}
dl.admin-list dt a[href $='admin/build/modules'] {background: url(../images/icons/admin_icons/modules.png) no-repeat 0 50%;}
dl.admin-list dt a[href $='admin/build/themes'] {background: url(../images/icons/admin_icons/themes.png) no-repeat 0 50%;}
dl.admin-list dt a[href $='admin/build/views'] {background: url(../images/icons/admin_icons/views.png) no-repeat 0 50%;}
dl.admin-list dt a[href $='admin/build/path'] {background: url(../images/icons/admin_icons/path.png) no-repeat 0 50%;}
dl.admin-list dt a[href $='admin/build/contact'] {background: url(../images/icons/admin_icons/contact.png) no-repeat 0 50%;}
dl.admin-list dt a[href $='admin/build/import'] {background: url(../images/icons/admin_icons/import.png) no-repeat 0 50%;}
dl.admin-list dt a[href $='admin/build/export'] {background: url(../images/icons/admin_icons/export.png) no-repeat 0 50%;}
dl.admin-list dt a[href $='admin/build/path-redirect'] {background: url(../images/icons/admin_icons/url-redirect.png) no-repeat 0 50%;}
dl.admin-list dt a[href $='admin/build/imagecache'] {background: url(../images/icons/admin_icons/imagecache.png) no-repeat 0 50%;}
dl.admin-list dt a[href $='admin/build/mail-edit'] {background: url(../images/icons/admin_icons/email-template.png) no-repeat 0 50%;}

/**
* Admin/Settings
*/
dl.admin-list dt a[href $='admin/settings/locale'] {background: url(../images/icons/admin_icons/locale.png) no-repeat 0 50%;}
dl.admin-list dt a[href $='admin/settings/site-maintenance'] {background: url(../images/icons/admin_icons/site-maintenance.png) no-repeat 0 50%;}
dl.admin-list dt a[href $='admin/settings/site-information'] {background: url(../images/icons/admin_icons/site-information.png) no-repeat 0 50%;}
dl.admin-list dt a[href $='admin/settings/date-time'] {background: url(../images/icons/admin_icons/date-time.png) no-repeat 0 50%;}
dl.admin-list dt a[href $='admin/settings/error-reporting'] {background: url(../images/icons/admin_icons/error-reporting.png) no-repeat 0 50%;}
dl.admin-list dt a[href $='admin/settings/clean-urls'] {background: url(../images/icons/admin_icons/clean-urls.png) no-repeat 0 50%;}
dl.admin-list dt a[href $='admin/settings/file-system'] {background: url(../images/icons/admin_icons/file-system.png) no-repeat 0 50%;}
dl.admin-list dt a[href $='admin/settings/performance'] {background: url(../images/icons/admin_icons/performance.png) no-repeat 0 50%;}
dl.admin-list dt a[href $='admin/settings/image-toolkit'] {background: url(../images/icons/admin_icons/image-toolkit.png) no-repeat 0 50%;}
dl.admin-list dt a[href $='admin/settings/front'] {background: url(../images/icons/admin_icons/front.png) no-repeat 0 50%;}
dl.admin-list dt a[href $='admin/settings/admin'] {background: url(../images/icons/admin_icons/admin.png) no-repeat 0 50%;}
dl.admin-list dt a[href $='admin/settings/search'] {background: url(../images/icons/admin_icons/search.png) no-repeat 0 50%;}
dl.admin-list dt a[href $='admin/settings/uploads'] {background: url(../images/icons/admin_icons/uploads.png) no-repeat 0 50%;}
dl.admin-list dt a[href $='admin/settings/throttle'] {background: url(../images/icons/admin_icons/throttle.png) no-repeat 0 50%;}
dl.admin-list dt a[href $='admin/settings/filters'] {background: url(../images/icons/admin_icons/filters.png) no-repeat 0 50%;}
dl.admin-list dt a[href $='admin/settings/googleanalytics'] {background: url(../images/icons/admin_icons/googleanalytics.png) no-repeat 0 50%;}
dl.admin-list dt a[href $='admin/settings/iconizer'] {background: url(../images/icons/admin_icons/iconizer.png) no-repeat 0 50%;}
dl.admin-list dt a[href $='admin/settings/securelogin'] {background: url(../images/icons/admin_icons/securelogin.png) no-repeat 0 50%;}
dl.admin-list dt a[href $='admin/settings/admin_menu'] {background: url(../images/icons/admin_icons/admin-menu.png) no-repeat 0 50%;}
dl.admin-list dt a[href $='admin/settings/db_maintenance'] {background: url(../images/icons/admin_icons/db_maintenance.png) no-repeat 0 50%;}
dl.admin-list dt a[href $='admin/settings/fckeditor'] {background: url(../images/icons/admin_icons/fckeditor.png) no-repeat 0 50%;}
dl.admin-list dt a[href $='admin/settings/globalredirect'] {background: url(../images/icons/admin_icons/global-redirect.png) no-repeat 0 50%;}
dl.admin-list dt a[href $='admin/settings/imce'] {background: url(../images/icons/admin_icons/IMCE.png) no-repeat 0 50%;}
dl.admin-list dt a[href $='admin/settings/lightbox2'] {background: url(../images/icons/admin_icons/lightbox.png) no-repeat 0 50%;}
dl.admin-list dt a[href $='admin/settings/poormanscron'] {background: url(../images/icons/admin_icons/poormanscron.png) no-repeat 0 50%;}
dl.admin-list dt a[href $='admin/settings/search404'] {background: url(../images/icons/admin_icons/search404.png) no-repeat 0 50%;}
dl.admin-list dt a[href $='admin/settings/jquery_update'] {background: url(../images/icons/admin_icons/jquery-update.png) no-repeat 0 50%;}
dl.admin-list dt a[href $='admin/settings/googleanalytics'] {background: url(../images/icons/admin_icons/google-analytics.png) no-repeat 0 50%;}
dl.admin-list dt a[href $='admin/settings/xmlsitemap'] {background: url(../images/icons/admin_icons/xml-sitemap.png) no-repeat 0 50%;}
dl.admin-list dt a[href $='admin/settings/actions'] {background: url(../images/icons/admin_icons/actions.png) no-repeat 0 50%;}
dl.admin-list dt a[href $='admin/settings/sitemap'] {background: url(../images/icons/admin_icons/sitemap.png) no-repeat 0 50%;}
dl.admin-list dt a[href $='admin/settings/stringoverrides'] {background: url(../images/icons/admin_icons/stringoverrides.png) no-repeat 0 50%;}
dl.admin-list dt a[href $='admin/settings/imageapi'] {background: url(../images/icons/admin_icons/image-api.png) no-repeat 0 50%;}
dl.admin-list dt a[href $='admin/settings/logging'] {background: url(../images/icons/admin_icons/logging-and-alerts.png) no-repeat 0 50%;}
dl.admin-list dt a[href $='admin/settings/menu_icons'] {background: url(../images/icons/admin_icons/menu-icons.png) no-repeat 0 50%;}
dl.admin-list dt a[href $='admin/settings/nice_menus'] {background: url(../images/icons/admin_icons/nice-menus.png) no-repeat 0 50%;}
dl.admin-list dt a[href $='admin/settings/ed_readmore'] {background: url(../images/icons/admin_icons/read-more.png) no-repeat 0 50%;}
dl.admin-list dt a[href $='admin/settings/mimemail'] {background: url(../images/icons/admin_icons/mime-mail.png) no-repeat 0 50%;}
dl.admin-list dt a[href $='admin/settings/extlink'] {background: url(../images/icons/admin_icons/external-links.png) no-repeat 0 50%;}
dl.admin-list dt a[href $='admin/settings/fivestar'] {background: url(../images/icons/admin_icons/5star.png) no-repeat 0 50%;}
dl.admin-list dt a[href $='admin/settings/votingapi'] {background: url(../images/icons/admin_icons/voting_api.png) no-repeat 0 50%;}
dl.admin-list dt a[href $='admin/settings/pngbehave'] {background: url(../images/icons/admin_icons/png.png) no-repeat 0 50%;}
dl.admin-list dt a[href $='admin/settings/currency_api'] {background: url(../images/icons/admin_icons/currency.png) no-repeat 0 50%;}
dl.admin-list dt a[href $='admin/settings/format_number'] {background: url(../images/icons/admin_icons/numbers.png) no-repeat 0 50%;}
dl.admin-list dt a[href $='admin/settings/node_export'] {background: url(../images/icons/admin_icons/node-export.png) no-repeat 0 50%;}
dl.admin-list dt a[href $='admin/settings/devel'] {background: url(../images/icons/admin_icons/devel.png) no-repeat 0 50%;}
dl.admin-list dt a[href $='admin/settings/bookmark_us'] {background: url(../images/icons/admin_icons/bookmark.png) no-repeat 0 50%;}
dl.admin-list dt a[href $='admin/settings/dhtml_menu'] {background: url(../images/icons/admin_icons/DHTML_Menu.png) no-repeat 0 50%;}
dl.admin-list dt a[href $='admin/settings/scheduler'] {background: url(../images/icons/admin_icons/Scheduler.png) no-repeat 0 50%;}
dl.admin-list dt a[href $='admin/settings/sevenup'] {background: url(../images/icons/admin_icons/sevenup.png) no-repeat 0 50%;}

/**
* Admin/User
*/
dl.admin-list dt a[href $='admin/user/user'] {background: url(../images/icons/admin_icons/user.png) no-repeat 0 50%;}
dl.admin-list dt a[href $='admin/user/permissions'] {background: url(../images/icons/admin_icons/access.png) no-repeat 0 50%;}
dl.admin-list dt a[href $='admin/user/rules'] {background: url(../images/icons/admin_icons/rules.png) no-repeat 0 50%;}
dl.admin-list dt a[href $='admin/user/search'] {background: url(../images/icons/admin_icons/search-user.png) no-repeat 0 50%;}
dl.admin-list dt a[href $='admin/user/settings'] {background: url(../images/icons/admin_icons/user_settings.png) no-repeat 0 50%;}
dl.admin-list dt a[href $='admin/user/roles'] {background: url(../images/icons/admin_icons/roles.png) no-repeat 0 50%;}
dl.admin-list dt a[href $='admin/user/captcha'] {background: url(../images/icons/admin_icons/captcha.png) no-repeat 0 50%;}

/**
* Admin/Reports
*/
dl.admin-list dt a[href $='admin/reports/access-denied'] {background: url(../images/icons/admin_icons/access-denied.png) no-repeat 0 50%;}
dl.admin-list dt a[href $='admin/reports/page-not-found'] {background: url(../images/icons/admin_icons/page-not-found.png) no-repeat 0 50%;}
dl.admin-list dt a[href $='admin/reports/dblog'] {background: url(../images/icons/admin_icons/watchdog.png) no-repeat 0 50%;}
dl.admin-list dt a[href $='admin/reports/status'] {background: url(../images/icons/admin_icons/status.png) no-repeat 0 50%;}
dl.admin-list dt a[href $='admin/reports/search'] {background: url(../images/icons/admin_icons/search-log.png) no-repeat 0 50%;}
dl.admin-list dt a[href $='admin/reports/systeminfo'] {background: url(../images/icons/admin_icons/systeminfo.png) no-repeat 0 50%;}
dl.admin-list dt a[href $='admin/reports/updates'] {background: url(../images/icons/admin_icons/updates.png) no-repeat 0 50%;}
dl.admin-list dt a[href $='admin/reports/hits'] {background: url(../images/icons/admin_icons/recent-hits.png) no-repeat 0 50%;}
dl.admin-list dt a[href $='admin/reports/referrers'] {background: url(../images/icons/admin_icons/top-referrers.png) no-repeat 0 50%;}
dl.admin-list dt a[href $='admin/reports/pages'] {background: url(../images/icons/admin_icons/top-pages.png) no-repeat 0 50%;}
dl.admin-list dt a[href $='admin/reports/visitors'] {background: url(../images/icons/admin_icons/top-visitors.png) no-repeat 0 50%;}
dl.admin-list dt a[href $='admin/reports/settings'] {background: url(../images/icons/admin_icons/log-access.png) no-repeat 0 50%;}

/**
* Ubercart Store
*/	
dl.admin-list dt a[href $='admin/store/orders'] {background: url(../images/icons/admin_icons/orders.png) no-repeat 0 50%;}
dl.admin-list dt a[href $='admin/store/products'] {background: url(../images/icons/admin_icons/products.png) no-repeat 0 50%;}
dl.admin-list dt a[href $='admin/store/attributes'] {background: url(../images/icons/admin_icons/attributes.png) no-repeat 0 50%;}
dl.admin-list dt a[href $='admin/store/customers'] {background: url(../images/icons/admin_icons/customer.png) no-repeat 0 50%;}
dl.admin-list dt a[href $='admin/store/reports'] {background: url(../images/icons/admin_icons/reports.png) no-repeat 0 50%;}
dl.admin-list dt a[href $='admin/store/ca'] {background: url(../images/icons/admin_icons/conditional_actions.png) no-repeat 0 50%;}
dl.admin-list dt a[href $='admin/store/help'] {background: url(../images/icons/admin_icons/help.png) no-repeat 0 50%;}
dl.admin-list dt a[href $='admin/store/settings'] {background: url(../images/icons/admin_icons/configuration.png) no-repeat 0 50%;}

