
/**
* @file
* Layout CSS for internet explorer.
*/

/** body **/
body {
	_text-align: center; /* 1st part of IE5/IE6quirks centering hack */
}

#page	{
	_text-align: left; /* 2nd part of IE5/IE6quirks centering hack */
}

/** main (container for everything else) **/
#main	{
	_zoom: 1; /* Otherwise with a liquid layout, sidebars disappear when resizing the windows in IE6 */
}

/** floating divs **/
#content,
#navbar,
#sidebar-left,
#sidebar-right	{
	_display: inline; /* display inline or double your floated margin! [1] */
	_overflow: hidden; /* in ie6, overflow auto is broken [2] and so is overflow visible [3] */
	_overflow-y: visible;
}


/*
* Tabs CSS - IE 5 and 6 don't support PNGs with alpha transparency.
*/
ul.primary li a,
ul.primary li a .tab,
ul.secondary li a,
ul.secondary li a .tab {
	_display: inline; /* Otherwise the blocks mistakenly get 100% width in IE5 */
	_di\splay: inline-block; /* Otherwise the blocks mistakenly get 100% width in IE6 */
	cursor: pointer;
}

ul.primary,
ul.secondary {
	_width: 100%; /* Otherwise IE5 treats the ul as floated */
	_w\idth: auto; /* Reset to auto width for IE6 */
}

ul.primary li a {
	_background: url(../images/tab-left-ie6.png) no-repeat left -38px;
}

ul.primary li a .tab	{ _background: url(../images/tab-right-ie6.png) no-repeat right -38px;}

ul.primary li a:hover {	_background: url(../images/tab-left-ie6.png) no-repeat left -76px;}

ul.primary li a:hover .tab	{ _background: url(../images/tab-right-ie6.png) no-repeat right -76px; }

ul.primary li.active a,
ul.primary li.active a:hover {
	_background: url(../images/tab-left-ie6.png) no-repeat left 0;
}

ul.primary li.active a .tab,
ul.primary li.active a:hover .tab {
	_background: url(../images/tab-right-ie6.png) no-repeat right 0;
}

/** Drupal nodes **/
.node-unpublished .node-inner>* { position: relative; /* Otherwise these elements will appear below the "Unpublished" text. */}

/** Drupal admin tables **/
.section-admin #content tr.even th,
.section-admin #content tr.even td,
.section-admin #content tr.odd th,
.section-admin #content tr.odd td {
	border-bottom: 1px solid #ccc; /* IE doesn't display borders on table rows */
}