
/**
* @file
* MESSAGES STYLE - Add sensible messages styling.
*/

/* Important messages (status, warning, and error) for the user */
div.messages, div.status, div.warning, div.error {
	background-color:#F2F2F2;
	background-image:url(../images/messages-status.png);
	background-position:5px 5px;
	background-repeat:no-repeat;
	border:1px solid #136FD6;
	color:#333333;
	margin:0 0 1em;
	min-height:30px;
	padding:5px 5px 5px 50px;
}

div.messages.success {
	border: 1px solid #7AC142;
	color: #55872E;
	background: #F1F8EB;
}

/* Medium priority messages */
div.warning {
	border-color: #fc0;
	background-image: url(../images/messages-warning.png);
}

div.warning,
tr.warning {
	color: #000; /* Drupal core uses #220 */
	background-color: #ffc;
}

/* High priority messages. See also the .error declaration below. */
div.error {
	border-color: #c00;
	background-image: url(../images/messages-error.png);
}

div.error,
tr.error {
	color: #900;
	background-color: #fee;
}

div.messages ul {
	margin-top: 0;
	margin-bottom: 0;
}
