
/**
* @file
*
* PRINT STYLE - Add printing styling.
*/

/* underline all links */
	a:link,
	a:visited {
		text-decoration: underline !important;
	}
	
	/* Don't underline header */
	#site-name a:link,
	#site-name a:visited	{
		text-decoration: none !important;
	}
	
	/* CSS2 selector to add visible href after links */
	#content a:link:after,
	#content a:visited:after {
		content: " (" attr(href) ") ";
		font-size: 0.8em;
		font-weight: normal;
	}
	
	/* Un-float the content */
	#content,
	#content-inner	{
		float: none;
		width: 100%;
		margin: 0 !important;
		padding: 0 !important;
	}
	
	/* Turn off any background colors or images */
	body,
	#page, #page-inner,
	#main, #main-inner,
	#content, #content-inner {
		color: #000;
		background-color: transparent !important;
		background-image: none !important;
	}
	
	/* Hide sidebars and nav elements */
	#navbar-top, #navbar-btm, #sidebar-left, #sidebar-right, #footer,
	.breadcrumb, div.tabs, .links, .taxonomy,
	.book-navigation, .forum-topic-navigation, .pager, .feed-icons	{
		visibility: hidden;
		display: none;
	}
	
	/* Otherwise, Firefox clips the content after the first page. */
	#page	{
		overflow-y: visible;
	}
