
/**
* @file
*
* General theme styles.
*/

/* Wrapper for logo */
#logo {
	margin: 0 10px 0 0;
	padding: 0;
}

/* The name of the website */
h1#site-name,
div#site-name {
	margin: 0;
	font-size: 2em;
	line-height: 1.3em;
}

#site-name a:link,
#site-name a:visited {
	color: #000;
	text-decoration: none;
}

#site-name a:hover {
	text-decoration: underline;
}

/** preface and postscript **/	
#preface > div,
#postscript > div {
	float:left;
	margin:10px 10px 10px 0;
	width:32.6%;
}

#preface > div.last,
#postscript > div.last {
	margin:10px 0;
}

/** Top Navbar **/	
#navbar-btm-inner {
height:100%;
}

/* The path to the current page in the form of a list of links */
.breadcrumb {
	padding-bottom: 0; /* Undo system.css */
}

/* h1.title - The title of the page */
/* h2.title - Block title or the title of a piece of content when it is given in a list of content */
/* h3.title - Comment title */
h1.title,
h2.title,
h3.title {
	margin: 0;
}

/* Help text on a page */
.help {
	margin: 1em 0;
}

/* Link to more help */
.more-help-link {
	font-size: 0.85em;
	text-align: right;
}

/* A list of page numbers when more than 1 page of content is available */
.pager {
	clear: both;
	margin: 1em 0;
	text-align: center;
}

.pager a, .pager strong.pager-current {
	padding: 0.5em;
}

/* The links to the RSS or Atom feeds for the current list of content */
.feed-icons {
	margin: 1em 0;
}

/* Label that says "Search this site:" */
#edit-search-theme-form-1-wrapper label {
	display: none;
}

/* Unpublished nodes */
.node-unpublished,
.comment-unpublished {
	background-color: #ffdcdc;
}

/* The word "Unpublished" displayed beneath the content. */
.node-unpublished div.unpublished, 
.comment-unpublished div.unpublished {
	height: 0;
	overflow: visible;
	color: #d8d8d8;
	font-size: 75px;
	line-height: 1;
	font-family: Impact, "Arial Narrow", Helvetica, sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	word-wrap: break-word; /* A very nice CSS3 property */
}

/* "New" or "Updated" marker for content that is new or updated for the current user */
/* "New" marker for comments that are new for the current user */
.marker,
.new {
	color: #00cb00;
}

.node.node-unpublished .picture,
.comment.comment-unpublished .picture {
	position: relative; /* Otherwise floated pictures will appear below the "Unpublished" text. */
}

/* Wrapper for node links */
.node div.links {
	margin: 1em 0;
}

/* Taxonomy links, node links, comment links */
ul.links {
	margin: 0;
	padding: 0;
}

ul.links.inline {
	display: inline;
}

ul.links li {
	display: inline;
	list-style-type: none;
	padding: 0 0.5em;
}

/** Drupal comments **/
/* Wrapper for the list of comments and its title */
#comments {
	margin: 1em 0;
}

/* Wrapper for comment links. See also the ul.links declaration in the node section above. */
.comment div.links {
	margin: 1em 0;
}

/** Drupal blocks **/
/* Block wrapper */
.block {
	margin-bottom: 1em;
}

.first-word {
	color:red;
}

/** Miscellaneous Drupal styles **/
/* Aggregator, blog, and forum more link */
.more-link {
	text-align: right;
}

/*
* Drupal's default login and search form block
*/
#search.search-wrapper {
	float:left;
	margin:0;
	position:relative;
}

#search div.left {
	-moz-background-clip:border;
	-moz-background-inline-policy:continuous;
	-moz-background-origin:padding;
	background:transparent url(../images/search/search-left.png) no-repeat scroll left top;
	display:block;
	float:left;
	height:21px;
	padding:0 0 0 13px;
	position:relative;
	width:130px;
}

input#edit-search-theme-form-1,
#user-login-form input.form-text {
	-moz-background-clip:border;
	-moz-background-inline-policy:continuous;
	-moz-background-origin:padding;
	background:transparent url(../images/search/search-inner.png) repeat-x scroll center top;
	border:0 none;
	color:#7E7E7E;
	float:left;
	font-family:"Lucida Grande",Arial,sans-serif;
	font-size:11px;
	font-size-adjust:none;
	font-stretch:normal;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	height:18px;
	line-height:normal;
	margin:0;
	padding:3px 0 0;
	position:relative;
	width:106px;
}

/* Wrapper for the search form */
#edit-search-theme-form-1-wrapper.form-item {
	margin:0;
	padding:0;
}

#user-login-form .form-item label {
	font-weight:normal;
	font-size:0.9em;
	color:#CCCCCC;
}

/* Label that says "Search this site:" */
#edit-search-theme-form-1-wrapper label {
	display: none;
}
#block-user-0 {
	float:left;
	margin:6px 0 0 10px;
}

#user-login-form {
	float:left;
	text-align:left;
}

#user-login-form .form-item {
	margin:0 10px 0 0;;
}

#user-login-form #edit-name-wrapper,
#user-login-form #edit-pass-wrapper,
#user-login-form input#edit-submit-1,
#user-login-form div.item-list {
	float:left;
}

#user-login-form input#edit-submit-1 {
	margin:12px 10px 0 0;
}

.block #user-login-form ul {
	display:block;
	font-size:0.8em;
	margin:11px 0 0;
	padding:0;
}

#user-login-form li {
	display:block;
	line-height:1.3em;
	list-style-image:none;
	list-style-type:none;
}

#user-login-form li.first {
	border-top:medium none;
}

#user-login-form li a {
	color:#CCCCCC;
}

#user-login-form li a:hover {
	text-decoration:underline;
}

/* The active item in a Drupal menu */
li a.active {
	color: #000;
}

/** Drupal forms **/
/* Wrapper for a form element (or group of form elements) and its label */
.form-item, 
.form-checkboxes,
.form-radios {
	margin: 1em 0;
}

/* Highlight the form elements that caused a form submission error */
.form-item input.error, 
.form-item textarea.error,
.form-item select.error {
	border: 2px solid #c00;
}

/* The label for a form element */
.form-item label {
	display: block;
	font-weight: bold;
}

/* The label for a radio button or checkbox */
.form-item label.option {
	display: inline;
	font-weight: normal;
}

/* The part of the label that indicates a required field */
.form-required {
	color: #c00;
}

/* The descriptive help text (separate from the label) */
.form-item .description {
	font-size: 0.85em;
}

/* Pack groups of checkboxes and radio buttons closer together */
.form-checkboxes .form-item, 
.form-radios .form-item {
	margin: 0.4em 0;
}

/* The submit button */
.form-submit {
}

/* Inline labels and form divs */
.container-inline div, .container-inline label {
	display: inline;
}

/* Tips for Drupal's input formats */
.tips {
	font-size: 0.9em;
}

/** OpenID **/
/* The default styling for the OpenID login link seems to assume Garland's
* styling of list items.
*/
/* OpenID creates a new ul above the login form's links. */
#user-login-form ul {
		margin-bottom: 0; /* Position OpenID's ul next to the rest of the links. */
}

/* The "Log in using OpenID" links. */
#user-login-form li.openid-link, 
#user-login li.openid-link {
	margin-top: 1em;
	margin-left: -20px; /* Un-do some of the padding on the ul list. */
	padding-left: 20px;
	background-position: left center;
}

/* The "Cancel OpenID login" links. */
#user-login-form li.user-link, 
#user-login li.user-link {
	margin-top: 1em;
	list-style-type: disc;
	list-style-position: outside;
}

/* The OpenID links on the /user form. */
#user-login li.openid-link,
#user-login li.user-link {
	margin-left: -2em; /* Un-do all of the padding on the ul list. */
}

/************* 
** WEBFORMS **
**************/
/** first set labels and items to appear next to each other */
.webform-component-textfield label,
.webform-component-select label,
.webform-component-email label,
.webform-component-select .form-item .form-checkboxes,
.webform-component-select .form-item .form-radios{
	display:inline;
}

.webform-component-textfield label,
.webform-component-email label,
.webform-component-select label {
	display:inline;
	float: left;
}

.webform-component-select .form-item .form-checkboxes .form-item,
.webform-component-select .form-item .form-radios .form-item,
fieldset .webform-component-select .form-item .form-checkboxes .form-item,
fieldset .webform-component-select .form-item .form-radios .form-item {
	display:inline;
	white-space: nowrap;
	padding-right:20px;

}
/** ELEMENTS TO APPEAR NEXT TO EACH OTHER */
.webform-component-fieldset div.form-item{
	display:inline;
	padding-right:20px;
	float:left;
}
.webform-component-fieldset div.form-item .form-item{
	position: absolute;
	left: 25px;
}

.webform-component-email label,
.webform-component-select label,
.webform-component-textfield label {
	float: left;
	width: 14em; /* Adjust for the width of your labels */
}


/** Drupal admin tables **/
/* We overrode these styles in html-elements.css, but restore them for the
* forms on the site.
*/
form tbody {
	border-top: 1px solid #ccc;
}

form th {
	text-align: left;
	padding-right: 1em;
	border-bottom: 3px solid #ccc;
}

form tbody th {
	border-bottom: 1px solid #ccc;
}

form thead th {
	text-align: left;
	padding-right: 1em;
	border-bottom: 3px solid #ccc;
}

.block-region {
	-moz-border-radius-bottomleft:5px;
	-moz-border-radius-bottomright:5px;
	-moz-border-radius-topleft:5px;
	-moz-border-radius-topright:5px;
	background-color:#626262;
	border:1px solid #111111;
	color:#f1f1f1;
	text-align:center;
}

#content-bottom {
	clear:both;
}

/*copyright*/
#copyright {
	text-align:center;
	font-size:0.9em;
}

#copyright p {
	margin:0;
	padding:0;
}

#secondary {
	margin-bottom:1em;
	text-transform:lowercase;
}

#secondary ul.links li {
	border-right:1px solid #666;
}

#secondary ul.links li.last {
	border-right:medium none;
}

ul li, ul.menu li, .item-list ul li, li.leaf {
	list-style-image:url(../images/icons/menu-leaf.gif);
}

/* 
** Front Page Styles
*/
body.front h2.title a:link{
	color:#222;
}

body.front h2.title a:hover{
	text-decoration:underline;
}

/* rounded-corner	*/
.rounded-corner h2.title {
	background-color:#222;
	color:#FFFFFF;
	-moz-border-radius-bottomleft: 5px;
	-moz-border-radius-bottomright: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	border: 1px solid #111;
	margin:0;
	font-weight:normal;
	letter-spacing:2px;
	text-align:center;
}

body.front .rounded-corner .content h2.title {
	-moz-background-clip:border;
	-moz-background-inline-policy:continuous;
	-moz-background-origin:padding;
	background:transparent none repeat scroll 0 0;
	border:medium none;
	color:#222222;
	font-size:1.5em;
	font-weight:bold;
	margin:0.5em 0 0;
	text-align:left;
}

.rounded-corner .wrap-corner .r-edge div .wrap-corner .l,
.rounded-corner .wrap-corner .r-edge div .wrap-corner .r,
.rounded-corner .wrap-corner .r-edge div .wrap-corner .b-edge,
.rounded-corner .wrap-corner .r-edge div .wrap-corner .t-edge {
	margin:0;
	background:transparent;
	height:0;
	padding:0;
}
.rounded-corner .wrap-corner .r-edge div .wrap-corner .l-edge,
.rounded-corner .wrap-corner .r-edge div .wrap-corner .r-edge {
	margin:0;
	background:transparent;
	padding:0;
}

.t-edge, .b-edge, .l-edge, .r-edge, .wrap-corner {
	position: relative;
	/* hasLayout -1 ? For IE only */
	zoom: 1;
}

div.rounded-corner .t-edge,
.rounded-corner .wrap-corner .r-edge div.rounded-corner .t-edge {
	background: url(../images/round-corners//shadow-t.png) repeat-x 0 top;
	font-size: 1px;
}

div.rounded-corner .b-edge,
.rounded-corner .wrap-corner .r-edge div.rounded-corner .b-edge {
	background: url(../images/round-corners//shadow-b.png) repeat-x 0 bottom;
	font-size: 1px;
}
div.rounded-corner .l-edge,
.rounded-corner .wrap-corner .r-edge div.rounded-corner .l-edge {
	background: url(../images/round-corners//shadow-l.png) repeat-y 0 0;
}

div.rounded-corner .r-edge,
.rounded-corner .wrap-corner .r-edge div.rounded-corner .r-edge {
	background: url(../images/round-corners//shadow-r.png) repeat-y right 0;
}
.rounded-corner .wrap-corner {
	background: #fff !important;
}

div.rounded-corner .wrap-corner .t-edge,
div.rounded-corner .wrap-corner .b-edge,
.rounded-corner .wrap-corner .r-edge div.rounded-corner .wrap-corner .t-edge,
.rounded-corner .wrap-corner .r-edge div.rounded-corner .wrap-corner .b-edge {
	height: 11px;
}

div.rounded-corner div.wrap-corner div.l,
div.rounded-corner .wrap-corner .r,
.rounded-corner .wrap-corner .r-edge div.rounded-corner div.wrap-corner div.l,
.rounded-corner .wrap-corner .r-edge div.rounded-corner .wrap-corner .r {
	position: absolute;
	top: 0;
	height: 11px;
	width: 11px;
	background-image: url(../images/round-corners//corner-bits.png);
}

div.rounded-corner .wrap-corner div.l,
.rounded-corner .wrap-corner .r-edge div.rounded-corner .wrap-corner div.l {
	left: 0;
}

div.rounded-corner .wrap-corner .r,
.rounded-corner .wrap-corner .r-edge div.rounded-corner .wrap-corner .r {
	right: 0;
	background-position: -11px 0;
}

div.rounded-corner .wrap-corner .b-edge .l,
.rounded-corner .wrap-corner .r-edge div.rounded-corner .wrap-corner .b-edge .l {
	background-position: 0 -11px;
}

div.rounded-corner .wrap-corner .b-edge .r,
.rounded-corner .wrap-corner .r-edge div.rounded-corner .wrap-corner .b-edge .r {
	background-position: -11px -11px;
}

div.rounded-corner .wrap-corner .r-edge,
.rounded-corner .wrap-corner .r-edge div.rounded-corner .wrap-corner .r-edge {
	padding: 5px 10px;
}

div.rounded-corner div.admin-links {
	margin-top: -14px;
	margin-left: -12px;
}

div.rounded-corner .separator {
	background: url(../images/round-corners//shadow-b.png) repeat-x 0 center;
	font-size: 1px;
	height: 30px;
}

.rounded-corner .wrap-corner .r-edge div.rounded-corner {
	margin-bottom: 1em;
}

/* Other */
/*Read More Links*/
span.read-more {
	padding-left:10px;
}

/*
* BLUEPRINT GRIDS
*
* Add blueprint grid to layout.
*/

/* Use this class on any div.span / container to see the grid. */
.showgrid { 
	background: url(../images/grid.gif);
	padding-top:25px;
}
