
/*
* @file
*
* THEME SETTINGS STYLES
* ---------------------
* This file is only loaded on the Theme Settings page for synfox.
*
*/

#synfox-settings fieldset .form-item {
	padding-left: 200px;
}

#synfox-settings fieldset .form-checkboxes .form-item,
#synfox-settings fieldset .form-radios .form-item {
	padding-left: 0;
}

#synfox-settings fieldset .form-item label {
	float: left;
	width: 190px;
	margin-left: -200px;
	margin-right: 10px;
	text-align: right;
	_display: inline-block; /* IE6 is dumb. */
}

#synfox-settings fieldset .form-item label.option {
	float: none;
	width: auto;
	margin-left: 0;
	margin-right: 0;
	text-align: left;
}

#div-synfox-registry,
#div-synfox-wireframes,
#div-synfox-blueprint,
#div-synfox-addon {
	margin: 1em 0;
}

#div-synfox-registry strong,
#div-synfox-wireframes strong,
#div-synfox-blueprint strong,
#div-synfox-addon strong {
	float: left;
	width: 190px;
	margin-left: 0;
	margin-right: 10px;
	text-align: right;
}

#div-synfox-registry fieldset .form-item,
#div-synfox-wireframes fieldset .form-item,
#div-synfox-blueprint fieldset .form-item,
#div-synfox-addon fieldset .form-item {
	display: inline;
	margin-left: 0;
	padding-left: 0;
}

#div-synfox-registry fieldset .form-item .description,
#div-synfox-wireframes fieldset .form-item .description,
#div-synfox-blueprint fieldset .form-item .description,
#div-synfox-addon fieldset .form-item .description {
	display: block;
	margin-left: 200px;
}

#synfox-settings ul,
#synfox-settings ol {
	margin:0 0 0 1.5em;
}

#synfox-settings li span {
	color:green;
}
